@{
    ViewData["Title"] = "Bảo hiểm tại nạn - sức khỏe";
}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="~/css/select2-theme-bootstrap4/dist/select2-bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<div class="row w-100 m-0">
    <h4>Thông tin bảo hiểm</h4>
    <hr />
    
</div>